img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.fa-eye {
	color: #019001c9;
}
.widget-title2 {
    font-size: 1.14286em;
    margin-bottom: 30px;
    position: relative;
    font-weight: 700;
    text-align: center;
    color: #ffffffff;
    padding: 10px;
    background-color: #007bff87;
}
.event_img_text {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
    opacity: 0;
    transition: opacity 0.5s;
  }
.event_img_text_show{
  opacity: 1;
}
.xs-round-avatar p {
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 100%;
    margin-top: 7px;
    margin-left: 1px;
    background-color: #f7b204;
    text-align: center;
    line-height: 42px;
    color: #ffffffff;
    font-weight: 600;
    font-family: sans-serif;
}
.cust1{
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #e8e8e88c;
    padding: 20px !important;

}
.pt-5px {
  padding-top: 5px;
}
.contactus_breadcumb {
  padding-top: 100px !important;
  padding-bottom: 134px !important;
}
.slider-overlay {
  background-color: rgb(0, 0, 0, 0.25);
}
.main_gallery_hover::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(250, 87, 93, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}
.main_gallery_hover:hover::after{
    opacity: 1;
}
.main_gallery_hover:hover span {
    opacity: 1;
    top: calc(50% + 10px);
}
.main_gallery_hover span {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2.3em;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.login-form-div {
    background-color: #079bbb;
    padding: 45px;
    margin-bottom: 60px;
    border-radius: 10px;
}
.login-form-div .input-group-text, .login-form-div .contact-form-v2 input:not([type="submit"]) {
    background: #ffffffff;
    border-radius: 50px;
    color: #08223e;
}
.login-btn{
    display: block;
    width: 100%;
}
.login-form-div input:not([type="submit"]) {
    padding: 10px !important;
    padding-left: 15px;
    border: 2px solid #EEEEEE !important;
}
.signup-text {
    color: #064d5d!important;
    padding-left: 5px;
    font-weight: 500;
}
.signup-text:hover {
    color: #2c6977 !important;
}
.signup-form input:not([type="submit"]) {
  height: 45px !important;
}
.about-ol-list li {
    margin: 0;
    padding: 0;
    list-style: inherit;
    padding-bottom: 10px;
    padding-left: 5px;
}
.heritage-list li a {
    font-size: 140%;
    font-weight: 500;
}
.tribes-list li {
    list-style: inherit;
    padding-left: 10px;
}
.tribes-list {
    padding-left: 15px;
}
.xs-social-list li a.color-whatsapp:hover {
    background-color: #28a745;
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 5px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
    font-size: 15px;
}

.fl-table tbody tr th {
    font-size: 14px;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 15px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}